<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ninja Gold</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
  <div class="header">
    <h3 class='text-center display-3' id='nomJuego'>Ninja Gold</h3>
    <h5 class="col" id='lbl'>your Gold</h5>
    <div class="col"><span class='txtbox align-left border-4' id="goldgain"> hola</span> </div>
  </div>
  </div>
  <div class="f1-container">
    <div class="card-group">
      <div class="card">
        <img src="../static/img/farm.png" class="imagen">
        <div class="card-body">
          <h2 class="card-title">Farm</h2>
          <p class="card-text">(Earn 10-20 golds) <img src="../static/img/goldcoin.png" class="golden"></p>
          </p>
        </div>
      </div>
      <div class="card">
        <img src="../static/img/cave.png" class="imagen">
        <div class="card-body">
          <h2 class="card-title">Cave</h2>
          <p class="card-text">(Earn 5-10 golds) <img src="../static/img/goldcoin.png" class="golden"></p>
        </div>
      </div>
      <div class="card">
        <img src="../static/img/house.png" class="imagen">
        <div class="card-body">
          <h2 class="card-title">House</h2>
          <p class="card-text">(Earn 2-5 golds) <img src="../static/img/goldcoin.png" class="golden"></p>
          </p>
        </div>
      </div>
      <div class="card">
        <img src="../static/img/casino.png" class="imagen">
        <div class="card-body">
          <h2 class="card-title">Casino</h2>
          <p class="card-text">((Earn/Taken 0-50 golds) <img src="../static/img/goldcoin.png" class="golden"></p>
          </p>
        </div>
      </div>
    </div>

  </div>
</body>

</html>